<!doctype html>
<html>
<head>
    <link rel="stylesheet" href='/static/main.css'/>
</head>
<body>
<h1>Top {{nPlayers}} Most Popular Players in Tweets from {{nTweets}} tweets</h1>
<form method="post" action="/classifyTweets">
<!--    <input type="submit" name="classify_button" value="classify">-->
    <button name="classify_button" value="classify" class="button classify">classify</button>
</form>
<form method="post" action="/newPosition">
    <button name="position_button" value="GKP" class="button gkp">GKP</button>
    <button name="position_button" value="DEF" class="button def">DEF</button>
    <button name="position_button" value="MID" class="button mid">MID</button>
    <button name="position_button" value="FWD" class="button fwd">FWD</button>
<!--    <input type="button" name="position_button" class="anyButton" id="ID" value="GKP"/>-->
<!--    <button type="submit" name="position_button" id="GKP"></button>-->
<!--    <input type="submit" name="position_button" value="DEF">-->
<!--    <input type="submit" name="position_button" value="MID">-->
<!--    <input type="submit" name="position_button" value="FWD">-->
</form>
<label class="label position"> Select which position to view</label>
<form method="POST" action="/nPlayers">
    <input name="nPlayers">
    <input type="submit">
</form>
<div id='chart' class='chart'></div>
<form method="post" action="/newTimeUnit">
    <label class="label time"> Select which time scale to use</label>
    <button name="time_button" value="Year" class="button year">Year</button>
    <button name="time_button" value="Month" class="button month">Month</button>
    <button name="time_button" value="Day (dec)" class="button daydec">Day (dec)</button>
    <button name="time_button" value="Day (name)" class="button dayname">Day (name)</button>
    <button name="time_button" value="Date" class="button date">Date</button>
</form>
</body>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart',graphs,{});

</script>
</html>