body {
  background: Linen;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 200px;
  }

p {
  font-family: Georgia, serif;
  font-size: 1.2em;
  color: DarkSlateGray;
  margin-left: 500px;
  }

h1 {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 2.5em;
  color: FireBrick;
  }

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button.gkp {
    position: absolute;
    right: 550px;
    top: 400px;
}

.button.def {
    position: absolute;
    right: 400px;
    top: 400px;

}

.button.mid {
    position: absolute;
    right: 250px;
    top: 400px;

}

.button.fwd {
    position: absolute;
    right: 100px;
    top: 400px;
}